*{
  background-color: 
}
#clockcontainer {
  position: relative;
  background-color: red;
  height: 40vw;
  width: 40vw;
  background: url(clock.png) no-repeat;
  background-size: 100%;
  margin: auto;
 
}
#hour,
#minutes,
#seconds {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}
#hour {
  width: 2%;
  height: 24%;
  top: 26%;
  left: 48.9%;
  opacity: 0.8;
  opacity: 0.8;
  /* display: none; */
}
#minutes {
  width: 1.5%;
  height: 34%;
  top: 16%;
  left: 48.9%;
  opacity: 0.8;
  /* display: none; */
}
#seconds {
  width: 1%;
  height: 43%;
  top: 7%;
  left: 49.5%;
  /* display: none; */
}
